{% extends '::base.html.twig' %}

{% block body -%}
        <div data-role="page"  >
            <div class="ui-grid-a" date-role="main">
    <h1>NonContact creation</h1>

    {{ form(form) }}


        <a href="{{ path('noncontact') }}" data-ajax="false" class="ui-btn" >
            Back to the list
        </a>
</div>
</div>
{% endblock %}
